# Importing the libraries
In this part, we are importing the libraries we need.

In [1]:
# Importing files
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os
import sys
import glob
import datetime
import calendar
import csv

# Spark imports
from pyspark.rdd import RDD
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession
from pyspark.sql.functions import desc
from pyspark.sql.functions import col, asc, desc, split

# used to check if the array has a value
from pyspark.sql.functions import array_contains

# used for the encoding of categories
from sklearn.preprocessing import MultiLabelBinarizer

# Spark 
In this project, we are using apache spark as well as Pandas.

In [2]:
# Initialize a spark session.
def init_spark():
    spark = SparkSession \
        .builder \
        .appName("Python Spark SQL basic example") \
        .config("spark.some.config.option", "some-value") \
        .getOrCreate()
    return spark

In [3]:
spark = init_spark() # Initializate spark

# Loading the Business dataset

In [4]:
path = 'data/yelp_academic_dataset_business.json'
df_business = spark.read.json(path)

In [5]:
df_business_filtered = df_business.filter(df_business.categories.contains('Restaurants')) # Filtering per restaurants

In [6]:
df_business_filtered.count()

52268

In [7]:
df_business_filtered = df_business_filtered[['business_id','name','categories']]

In [8]:
df_business_filtered.show(10)

+--------------------+--------------------+--------------------+
|         business_id|                name|          categories|
+--------------------+--------------------+--------------------+
|MTSW4McQd7CbVtyjq...|  St Honore Pastries|Restaurants, Food...|
|CF33F8-E6oudUQ46H...|      Sonic Drive-In|Burgers, Fast Foo...|
|k0hlBqXX-Bt0vf1op...|Tsevi's Pub And G...|Pubs, Restaurants...|
|bBDDEgkFA1Otx9Lfe...|      Sonic Drive-In|Ice Cream & Froze...|
|eEOYSgkmpB90uNA7l...|Vietnamese Food T...|Vietnamese, Food,...|
|il_Ro8jwPlHresjw9...|             Denny's|American (Traditi...|
|0bPLkL0QhhPO5kt1_...|Zio's Italian Market|Food, Delis, Ital...|
|MUTTqe8uqyMdBl186...|            Tuna Bar|Sushi Bars, Resta...|
|ROeacJQwBeh05Rqg7...|                 BAP| Korean, Restaurants|
|WKMJwqnfZKsAae75R...|Roast Coffeehouse...|Coffee & Tea, Foo...|
+--------------------+--------------------+--------------------+
only showing top 10 rows

# Loading the Review dataset

In [9]:
# Loading the review file
path = 'data/yelp_academic_dataset_review.json'
df_review = spark.read.json(path)

In [10]:
# Print the number of rows and columns
print((df_review.count(), len(df_review.columns)))

(6990280, 9)

In [11]:
#Printing the columns' name
df_review.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [12]:
df_review = df_review[['business_id','user_id','stars']]
df_review.show(10)

+--------------------+--------------------+-----+
|         business_id|             user_id|stars|
+--------------------+--------------------+-----+
|XQfwVwDr-v0ZS3_Cb...|mh_-eMZ6K5RLWhZyI...|  3.0|
|7ATYjTIgM3jUlt4UM...|OyoGAe7OKpv6SyGZT...|  5.0|
|YjUWPpI6HXG530lwP...|8g_iMtfSiwikVnbP2...|  3.0|
|kxX2SOes4o-D3ZQBk...|_7bHUi9Uuf5__HHc_...|  5.0|
|e4Vwtrqf-wpJfwesg...|bcjbaE6dDog4jkNY9...|  4.0|
|04UD14gamNjLY0IDY...|eUta8W_HdHMXPzLBB...|  1.0|
|gmjsEdUsKpj9Xxu6p...|r3zeYsv1XFBRA4dJp...|  5.0|
|LHSTtnW3YHCeUkRDG...|yfFzsLmaWF2d4Sr0U...|  5.0|
|B5XSoSG3SfvQGtKEG...|wSTuiTk-sKNdcFypr...|  3.0|
|gebiRewfieSdtt17P...|59MxRhNVhU9MYndMk...|  3.0|
+--------------------+--------------------+-----+
only showing top 10 rows

In [13]:
# Filtering REVIEWS file by only RESTAURANTS identified with the RESTAURANT in 'categories'
df_review1 = df_review.join(df_business_filtered[['business_id']], df_review.business_id == df_business_filtered.business_id ,"left_semi")
df_review1.count()

4724471

In [14]:
# Creating an auxiliar df to filter only user with more than 50 reviews
df_count_reviews = df_review1.groupBy("user_id").count() # Creating a df with the number of reviews per user
df_count_reviews1 = df_count_reviews.filter(col("count") >= 50)  # Filtering only users with more than 50 reviews
df_count_reviews1.show(10, truncate=False)

+----------------------+-----+
|user_id               |count|
+----------------------+-----+
|IeSz60ozr1yAVIH8CX9w9w|149  |
|FlXBpK_YZxLo27jcMdII1w|489  |
|Zsdee1KEpMwjg5cqx-VWrQ|56   |
|9WuP-4jfndovEFJ4bpt5vA|62   |
|SSafXe2aUO0cXgQhEdtzrA|104  |
|4PE0tDvV9Lo8VW8kDW1SFQ|83   |
|LnFIWZM_l__4t8Qxj3pnOg|418  |
|dioXbYFdMCyE7zCK90eM3Q|133  |
|_LT9U6nhRgny5folsaTxPA|75   |
|cbY0f25GE3WLB5YUNQUgtw|74   |
+----------------------+-----+
only showing top 10 rows

In [15]:
# Filtering REVIEWS by only users identified with >= 50 REVIEWS
df_review2 = df_review1.join(df_count_reviews1, df_review1.user_id == df_count_reviews1.user_id ,"left_semi")
df_review2.count()

801411

# Baseline Algorithm

In [ ]:
# INTRODUCTION
# We predicted the rating ruf of a particular user u for a restaurant f as:
# ruf' = (µf + bu)/2 where,
# µf is the average rating of restaurant f by all users
# bu is the average rating of user u for all restaurants

In [16]:
df_review_pd = df_review2.toPandas()

In [17]:
df_avr_bus_stars = df_review_pd.groupby(['business_id']).mean()  # average rating of restaurant f by all users
df_avr_user_stars = df_review_pd.groupby(['user_id']).mean()  # average rating of user u for all restaurants

In [174]:
utility_matrix = df_avr_bus_stars.copy()

In [19]:
df_avr_bus_stars_list = df_avr_bus_stars['stars'].to_numpy()  # List of average business stars
df_avr_user_stars_list = df_avr_user_stars['stars'].to_numpy()  # List of average users stars

In [20]:
temp_list = []
for i in range(len(df_avr_user_stars_list)):
     temp_list.append((df_avr_bus_stars_list+df_avr_user_stars_list[i])/2)

In [ ]:
#utility_matrix[df_avr_user_stars.index[:]] = temp_list

# Evaluating the Baseline Algorithm

In [234]:
df_business_filtered_pd = df_business_filtered.toPandas()

In [276]:
len(df_review_pd)

801411

In [24]:
unique_users_list = df_count_reviews1.select('user_id').rdd.flatMap(lambda x: x).collect() # Getting the list of all users

In [267]:
df_review_pd_f = df_review_pd[df_review_pd['user_id'] == user]  # copying the review df to be used later
df_review_pd_f = df_review_pd_f.drop_duplicates(subset=['business_id'])  # Remove cases when user reviewed the same restaurant two times

In [281]:
# Parameters of the recommender system and evaluation
training_split = 0.8  # 80% of the dataset is used to train
k_value = 5  # Recommend five most similar items
treshold_score = 4  # Items with stars 4 or ABOVE are considered RELEVANT
num_users = 20  # Number of users evaluated
historical_precision = []  # Auxiliar variable to store all precision
cont = 1

# Running the recommender system for NUM_USERS
for user in unique_users_list[0:num_users]:
    utility_matrix = df_avr_bus_stars.copy()

    index_user = np.where(df_avr_user_stars.index[:] == user)[0].tolist()  # Find the position of the user in the avr_user_stars
    list_pred_user = temp_list[index_user[0]]  # With the position in the list, we collect the predicted values for this user in the utility matrix
    utility_matrix['pred_stars'] = list_pred_user
    utility_matrix['business_id'] = utility_matrix.index[:]

    df_review_pd_f = df_review_pd[df_review_pd['user_id'] == user]
    list_bus_user = df_review_pd_f['business_id'].to_numpy()  # List of items rated by user

    utility_matrix = utility_matrix[utility_matrix['business_id'].isin(list_bus_user)]
    utility_matrix = utility_matrix.reset_index(drop=True)
    utility_matrix = utility_matrix.drop(['stars'], axis=1)
    utility_matrix = pd.merge(utility_matrix, df_review_pd_f, on='business_id')
    utility_matrix = utility_matrix.sort_values(by=['pred_stars'], ascending=False)
    utility_matrix = pd.merge(utility_matrix, df_business_filtered_pd[['business_id','name','categories']], on='business_id')
    utility_matrix = utility_matrix.drop(['business_id','user_id'], axis = 1)
    
    
    k_pred_stars = utility_matrix['pred_stars'].to_numpy()[0:k_value]
    k_real_stars = utility_matrix['stars'].to_numpy()[0:k_value]

    precision_k = np.sum(k_real_stars>=treshold_score)/k_value # return precision score (in %)
    historical_precision.append(precision_k)
    
    print('-----------------------------------------------------------------------------------------------')
    print('Test #%i: Content-Based Recommender System for user "%s"' %(cont, user))
    cont = cont + 1
    print('Achieved precision_k with %i recommendations items (considering >=4 stars as Relevant): %f' %(k_value, precision_k))
    print('Detailed information about the recommendation list:')
    display(utility_matrix[0:k_value])
    print('\n')

print('---------------------------------------------------------------------------------------------------')
print('FINAL AVERAGE RESULTS')
print('The average performance of the system in terms of precision_k is:', np.average(historical_precision))

-----------------------------------------------------------------------------------------------
Test #1: Content-Based Recommender System for user "IeSz60ozr1yAVIH8CX9w9w"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.597315,5.0,Starlite Cruises,"Event Planning & Services, Restaurants, Boat C..."
1,4.565057,5.0,Pure Kitchen Organic Vegan,"Vegetarian, Juice Bars & Smoothies, Organic St..."
2,4.506406,5.0,Vampire Penguin,"Restaurants, Ice Cream & Frozen Yogurt, Shaved..."
3,4.481931,5.0,Spaddy's Coffee,"Breakfast & Brunch, Coffee & Tea, Food, Food T..."
4,4.477315,4.0,Sucre Table,"Bakeries, Custom Cakes, Food, Restaurants"

-----------------------------------------------------------------------------------------------
Test #2: Content-Based Recommender System for user "FlXBpK_YZxLo27jcMdII1w"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.458078,5.0,Cheers Cafe,Restaurants
1,4.458078,5.0,Little Man's Juice Bar and Grill,"Food, Juice Bars & Smoothies, Vegan, Restauran..."
2,4.458078,5.0,Little Man's Juice Bar and Grill,"Food, Juice Bars & Smoothies, Vegan, Restauran..."
3,4.458078,5.0,Tony Lukes Casa De Pasta,"Italian, Restaurants"
4,4.458078,5.0,Polka Deli Inc,"Delis, Restaurants, Sandwiches"

-----------------------------------------------------------------------------------------------
Test #3: Content-Based Recommender System for user "Zsdee1KEpMwjg5cqx-VWrQ"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.600000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,3.904115,2.0,Caplinger's Fresh Catch,"Sandwiches, Cajun/Creole, Specialty Food, Food..."
1,3.877232,4.0,Chef Dan's Southern Comfort Restaurant,"Restaurants, Comfort Food, Cajun/Creole, Seafo..."
2,3.865357,2.0,The Greek Islands Restaurant,"Greek, Restaurants, Event Planning & Services,..."
3,3.836126,4.0,Tastings A Wine Experience,"Tapas Bars, Wine Bars, Beer, Wine & Spirits, F..."
4,3.830357,4.0,White Castle,"Restaurants, Fast Food, Burgers"

-----------------------------------------------------------------------------------------------
Test #4: Content-Based Recommender System for user "9WuP-4jfndovEFJ4bpt5vA"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.199230,5.0,Adriana’s On The Hill,"Restaurants, Sandwiches, Delis, Italian"
1,4.130295,5.0,Charlie Gitto's On the Hill,"Restaurants, Italian"
2,4.099393,5.0,The Fountain On Locust,"Ice Cream & Frozen Yogurt, Food, American (New..."
3,4.075901,4.0,Ernesto's Wine Bar,"Wine Bars, Nightlife, Modern European, America..."
4,4.074390,5.0,Trattoria Marcella,"Italian, Local Flavor, Restaurants"

-----------------------------------------------------------------------------------------------
Test #5: Content-Based Recommender System for user "SSafXe2aUO0cXgQhEdtzrA"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.316120,5.0,Vida,"Restaurants, Local Flavor, American (New), Sal..."
1,4.282723,5.0,Subito,"Sandwiches, Salad, Soup, Restaurants"
2,4.279533,5.0,Wildwood Market,"Specialty Food, Food, Restaurants, Sandwiches,..."
3,4.240385,5.0,Recess,"Restaurants, American (New)"
4,4.226272,5.0,Nesso,"Seafood, Restaurants, Italian, Seafood Markets..."

-----------------------------------------------------------------------------------------------
Test #6: Content-Based Recommender System for user "4PE0tDvV9Lo8VW8kDW1SFQ"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.746988,5.0,Striped Bass,"Restaurants, Seafood"
1,4.521988,5.0,Young Bin Kwan,"Sushi Bars, Restaurants, Japanese, Barbeque, K..."
2,4.480684,5.0,BlueFin Restaurant,"Restaurants, Japanese, Sushi Bars, Pizza"
3,4.477757,5.0,Jong Ka Jib,"Korean, Restaurants"
4,4.434488,5.0,PrimoHoagies,"Delis, Restaurants, Italian, Local Flavor, San..."

-----------------------------------------------------------------------------------------------
Test #7: Content-Based Recommender System for user "LnFIWZM_l__4t8Qxj3pnOg"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.800000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,3.967070,5.0,Laurel,"French, American (New), Restaurants"
1,3.957299,5.0,Beiler's Bakery,"Food, Donuts, Food Stands, Restaurants, Specia..."
2,3.954025,5.0,Bibou,"Restaurants, French, Specialty Food, Food"
3,3.948138,3.0,Reading Terminal Market,"Candy Stores, Shopping, Department Stores, Fas..."
4,3.945866,5.0,Octopus Falafel Truck,"Food Trucks, Falafel, Food Stands, Food, Medit..."

-----------------------------------------------------------------------------------------------
Test #8: Content-Based Recommender System for user "dioXbYFdMCyE7zCK90eM3Q"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.192105,4.0,Castellino's,"Restaurants, Food, Sardinian, Italian, Delis, ..."
1,4.192105,5.0,Elwood,"American (Traditional), American (New), Food, ..."
2,4.165969,5.0,Di Bruno Bros.,"Sandwiches, Cheese Shops, Meat Shops, Italian,..."
3,4.152450,5.0,Chickie's Italian Deli,"Burgers, Delis, Sandwiches, Restaurants, Food"
4,4.152450,5.0,Chickie's Italian Deli,"Burgers, Delis, Sandwiches, Restaurants, Food"

-----------------------------------------------------------------------------------------------
Test #9: Content-Based Recommender System for user "_LT9U6nhRgny5folsaTxPA"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.800000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.080000,5.0,Green Culture,"Food, Specialty Food, Acai Bowls, Restaurants,..."
1,4.077494,4.0,Mazzaro's Italian Market,"Specialty Food, Delis, Coffee Roasteries, Butc..."
2,4.055490,3.0,Cafe Soleil,"Restaurants, French, Coffee & Tea, Bakeries, B..."
3,4.035556,5.0,The Little Lamb,"Pubs, Gastropubs, Bars, Nightlife, American (N..."
4,4.019394,5.0,Squeeze Juice Works,"Juice Bars & Smoothies, Food, Coffee & Tea, Re..."

-----------------------------------------------------------------------------------------------
Test #10: Content-Based Recommender System for user "cbY0f25GE3WLB5YUNQUgtw"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.035516,5.0,Chef's Market Cafe & Takeaway,"Food, American (New), Coffee & Tea, Caterers, ..."
1,4.017568,5.0,Nuvo Burrito,"American (New), Restaurants, Tex-Mex, Salad, M..."
2,4.012012,5.0,Sax Deli & Grill,"Sandwiches, Food, Delis, Local Flavor, Restaur..."
3,3.997255,5.0,Mitchell Delicatessen,"Grocery, Sandwiches, Restaurants, Delis, Food,..."
4,3.986685,5.0,The Garden Brunch Cafe,"Cafes, Restaurants, American (Traditional), Br..."

-----------------------------------------------------------------------------------------------
Test #11: Content-Based Recommender System for user "aHiQYaTXrmQTeG6106l5wg"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.315292,4.0,St. Philip’s Plaza,"Shopping, Restaurants, Shopping Centers, Night..."
1,4.287514,4.0,Sauce Pizza & Wine,"Nightlife, Bars, Pizza, Restaurants, Wine Bars..."
2,4.284042,5.0,Aqui Con El Nene,"Fast Food, Restaurants, Mexican, Food Stands, ..."
3,4.241218,5.0,Fiamme Pizza,"Italian, Restaurants, Food Stands, Farmers Mar..."
4,4.226403,5.0,Lee Lee International Supermarkets,"Ethnic Grocery, Food, Ethnic Food, Grocery, Sp..."

-----------------------------------------------------------------------------------------------
Test #12: Content-Based Recommender System for user "sIH5HbEwhbxt-4waYoDUBw"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.800000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.315789,5.0,Ahvali BYOB,"Spanish, Restaurants, American (New), Breakfas..."
1,4.315789,5.0,Sabor Latino Restaurant - Night Club,"Bars, Cocktail Bars, Latin American, Dance Clu..."
2,4.215789,3.0,Libertee Grounds,"Sandwiches, Bars, Mini Golf, Pan Asian, Active..."
3,4.190789,5.0,Halal Food Special,"Restaurants, Halal, Food, Food Trucks"
4,4.175789,5.0,Uncle Bobbie's Coffee & Books,"Cafes, Restaurants, Shopping, Food, Books, Mag..."

-----------------------------------------------------------------------------------------------
Test #13: Content-Based Recommender System for user "CDxlgCoUoNRV3VMkYZrUuQ"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.800000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.083357,5.0,Classic Cake,"Bakeries, Restaurants, Desserts, Food, Cupcake..."
1,4.081326,5.0,Beiler's Bakery,"Food, Donuts, Food Stands, Restaurants, Specia..."
2,4.024546,3.0,Zahav,"Nightlife, Bars, Food, Ethnic Food, Middle Eas..."
3,4.017568,5.0,Cafe La Maude,"Sandwiches, Cafes, Coffee & Tea, Restaurants, ..."
4,4.017568,4.0,Cafe La Maude,"Sandwiches, Cafes, Coffee & Tea, Restaurants, ..."

-----------------------------------------------------------------------------------------------
Test #14: Content-Based Recommender System for user "7vt29eIGszODjavXK-B42Q"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.021390,5.0,J'Anitas,"Food, Sandwiches, Southern, American (Traditio..."
1,3.992394,4.0,Cochon Butcher,"Shopping, Butcher, Restaurants, Sandwiches, Fo..."
2,3.914807,4.0,Stein's Market and Deli,"Delis, Convenience Stores, Sandwiches, Restaur..."
3,3.877451,5.0,The Avenue Pub,"Bars, Beer Gardens, Pubs, French, Mediterranea..."
4,3.860784,4.0,Cowbell,"American (New), Bars, Local Flavor, Nightlife,..."

-----------------------------------------------------------------------------------------------
Test #15: Content-Based Recommender System for user "7NyerV7a3CsvYC20iSfLHg"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.600000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,3.864538,3.0,Bibou,"Restaurants, French, Specialty Food, Food"
1,3.854054,2.0,At The Table BYOB,"Restaurants, French, American (Traditional), A..."
2,3.818653,4.0,Suraya,"Active Life, Beer Gardens, Grocery, Middle Eas..."
3,3.811033,4.0,Zahav,"Nightlife, Bars, Food, Ethnic Food, Middle Eas..."
4,3.804054,4.0,Cafe La Maude,"Sandwiches, Cafes, Coffee & Tea, Restaurants, ..."

-----------------------------------------------------------------------------------------------
Test #16: Content-Based Recommender System for user "Zsucq1c-sjuGxs5jZuUEEg"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.272917,5.0,The Cavern,"Cheese Shops, Food, Cafes, Nightlife, Coffee &..."
1,4.241667,5.0,Italian Centre Shop,"Italian, Grocery, Delis, Restaurants, Food, In..."
2,4.200000,5.0,The Happy Camel,"Bakeries, Restaurants, Food, Delis"
3,4.131373,5.0,Padmanadi Vegetarian Restaurant,"Restaurants, Vegan, Indonesian, Vegetarian"
4,4.116667,5.0,Arno's Fine French Pastry,"Patisserie/Cake Shop, Coffee & Tea, Restaurant..."

-----------------------------------------------------------------------------------------------
Test #17: Content-Based Recommender System for user "417svAEVHreK6c3SK4M8Tw"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.376571,5.0,Frontier Perk Cafe,"Restaurants, Breakfast & Brunch, Cafes"
1,4.259518,5.0,Blues City Deli,"Delis, Bars, Restaurants, Nightlife, Pubs, Ame..."
2,4.225778,5.0,Union Loafers Cafe and Bread Bakery,"Bakeries, Cafes, Sandwiches, Food, Pizza, Rest..."
3,4.203682,4.0,Adriana’s On The Hill,"Restaurants, Sandwiches, Delis, Italian"
4,4.198000,4.0,Ruma's Deli,"Delis, Restaurants, Pizza, Italian"

-----------------------------------------------------------------------------------------------
Test #18: Content-Based Recommender System for user "N-011DC3U_yyX_oTvC03Vw"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.605263,5.0,Brightside Bakeshop,"Bakeries, Coffee & Tea, Breakfast & Brunch, Re..."
1,4.555263,4.0,Setsun,"Restaurants, Pop-Up Restaurants, Wine Bars, Ba..."
2,4.438596,4.0,Vandyke Bed & Beverage,"Hotels & Travel, Hotels, Event Planning & Serv..."
3,4.438596,4.0,Sip Cafe,"Food, Restaurants, Ice Cream & Frozen Yogurt, ..."
4,4.405263,5.0,B1281,"Nightlife, Cocktail Bars, Bars, Pop-Up Restaur..."

-----------------------------------------------------------------------------------------------
Test #19: Content-Based Recommender System for user "wZWB41wmnv4pPsetuIN5Gw"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 0.800000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,4.420537,5.0,Dottie's Donuts,"Food, Donuts, Vegan, Restaurants"
1,4.343030,4.0,Suraya,"Active Life, Beer Gardens, Grocery, Middle Eas..."
2,4.335410,5.0,Zahav,"Nightlife, Bars, Food, Ethnic Food, Middle Eas..."
3,4.335376,5.0,Grindcore House,"Coffee & Tea, Vegetarian, Food, Restaurants, V..."
4,4.325345,3.0,The Bakeshop on 20th,"Coffee & Tea, Bakeries, Food, Soup, Breakfast ..."

-----------------------------------------------------------------------------------------------
Test #20: Content-Based Recommender System for user "rM_xdipcViCdgDPb3uKLwQ"
Achieved precision_k with 5 recommendations items (considering >=4 stars as Relevant): 1.000000
Detailed information about the recommendation list:

,pred_stars,stars,name,categories
0,3.918465,4.0,GW Fins,"Seafood, Gluten-Free, Vegetarian, Restaurants"
1,3.794486,4.0,Crown Candy Kitchen,"Specialty Food, Food, American (Traditional), ..."
2,3.772727,5.0,Monarch Restaurant & Wine Bar,"Cajun/Creole, Restaurants, Bars, American (New..."
3,3.762370,4.0,The Shaved Duck,"Barbeque, Restaurants, Soul Food, American (Ne..."
4,3.762370,4.0,The Shaved Duck,"Barbeque, Restaurants, Soul Food, American (Ne..."

---------------------------------------------------------------------------------------------------
FINAL AVERAGE RESULTS
The average performance of the system in terms of precision_k is: 0.9099999999999999